<h2>Dodaj Auto</h2>
<form method="POST" action="{{ path('cars_add') }}" class="add">
    <input type="text" name="brand" placeholder="Marka" required>
    <input type="text" name="model" placeholder="Model" required>
    <input type="number" name="year" placeholder="Rok" required min="1886" max="2100">
    <button type="submit">Dodaj</button>
</form>
