{% extends 'base.html.twig' %}

{% block title %}Tabela Auta{% endblock %}

{% block header %}Tabela Auta{% endblock %}

{% block body %}
    <p>
        <form method="GET" action="{{ path('cars_add_page') }}" style="display:inline;">
            <button type="submit">Dodaj nowe auto</button>
        </form>
        <form method="GET" action="{{ path('cars_edit_page') }}" style="display:inline; margin-left:8px;">
            <button type="submit">Edytuj Auto</button>
        </form>
    </p>

    <p>
        <form method="POST" action="{{ path('cars_drop_all') }}" style="display:inline;">
            <button type="submit" onclick="return confirm('Jesteś pewien czy usunąć wszystkie rekordy?')">Usuń wszystkie rekordy</button>
        </form>
        <form method="POST" action="{{ path('cars_seed') }}" style="display:inline; margin-left:10px;">
            <button type="submit" onclick="return confirm('Wstaw 10 przykładowych samochodów (usunie poprzednie)?')">Wstaw przykładowe</button>
        </form>
    </p>

    {% include 'car/_table.html.twig' %}

{% endblock %}